<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <insert id="save" parameterType="com.example.shardingJdbc.entity.User">
        INSERT INTO t_user(id,name)
        VALUES
        (
        #{id},#{name}
        )
    </insert>

    <select id="list"  resultType="com.example.shardingJdbc.entity.User">
    	select id,name FROM t_user
    </select>
</mapper>
